

<div class="bd-example">
	<button type="button" id="openModalButton" class="btn btn-primary" data-toggle="modal" data-target="#openModal" (click)="openModal()">
    Launch demo modal
  </button>
</div>

<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        
      <div class="popup">
      <h3 class="heading-3">Please enter the verification code sent on customer’s mobile</h3>
      <div class="content">
         <div class="form-wrapper">
            <div class="form-group">
               <input type="text" id="verification" value="" class="form-field webkit-square" placeholder="Verification Code">
               <label for="verification" class="form-label">Verification Code</label>
               <button type="button" class="resend-code">Resend Code</button>
            </div>
         </div>
      </div>
      <div class="mt-20">
            <button type="button" class="popup-btn">Proceed</button>
            <button type="button" data-dismiss="modal" class="cancel-btn">Cancel</button>
         </div>
   </div>

    </div>
  </div>
</div>
